<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text to Image Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <main>
      <header>
        <center><h1>Text to Image</h1></center>
        <center><h4>What do you want to generate?</h4></center> <br>
      </header>

      <section>
        {% if error %}
          <p>{{ error }}</p>
        {% endif %}
        <form method="post" action="/generate">
          
          <textarea id="prompt" name="prompt" rows="3" required>{% if prompt_value %}{{ prompt_value }}{% elif prompt %}{{ prompt }}{% endif %}</textarea> 
          <!-- prüft Bedingungen-->

          <br>
          <br>


          <button type="submit"class="button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
            </svg>
            <div class="text">
              Generate
            </div>
          </button>
        </form>
      </section>




      <!--display image-->
      {% if image_url %}
        <section>
          <br>
          <img src="{{ image_url }}" alt="Generated image for prompt: {{ prompt }}" class="img"/>
        </section>
      {% endif %}
    </main>
  </body>
</html>

